<div id="root">React is broken</div>

<script type="text/javascript">
  window.images = {
    splashvideo: "<%= asset_path('hero-image.mp4') %>",
    dlacklogo: "<%= asset_path('dlacklogo.png') %>",
    dlackchannel: "<%= asset_path('dlackvideo.mp4') %>",

  }
</script>