.channel-index {
  line-height: 26px;
  font-size: 16px;
}

.channels-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  margin-top: 30px;
  color: rgb(202, 196, 201);
  max-height: 29px;
}

.channels-header h2 {
  font-weight: 400;
  width: 180px;
}

.create-channel {
  font-size: 24px;
  opacity: 0.64;
  cursor: pointer;
}
// .create-dm-button will maybe be the same look

.create-channel:hover {
  opacity: 1;
}
