.channel-modal-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-form-container {
  width: 520px;
  height: 516px;
  background: #f9f3e7;
  border-radius: 8px;
  box-shadow: 0 18px 48px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 28px;
}

.channel-modal-header h1 {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.channel-modal-header div {
  font-size: 1.5em;
  color: #575754;
}

.create-channel-description {
  padding: 20px 60px 0px 0px;
  color: #575754;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 5px;
}

.create-channel-title-input {
  margin: 7px 0 18px 0;
  height: 44px;
  width: 464px;
  border: 1px solid #818179;
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.1s;
  font-family: "Poppins";
}

.channel-create-name {
  color: #575754;
}
