.channel-index {
  border-top: 1px solid lightgray;
  line-height: 26px;
  font-size: 16px;
  margin-top: 3em;
}

.channels-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  padding-top: 1em;
  color: rgb(202, 196, 201);
  max-height: 29px;
}

#caret {
  margin-right: 0.6em;
}

.channels-header h2 {
  font-weight: 400;
  width: 180px;
  cursor: pointer;
}

.channels-header h2:hover {
  color: white;
}

.create-channel {
  font-size: 24px;
  opacity: 0.64;
  cursor: pointer;
  align-items: flex-end;
  box-sizing: border-box;
}
// .create-dm-button will maybe be the same look

.create-channel:hover {
  color: white;
  opacity: 1;
}

.channel-list-header {
  display: flex;
  align-items: center;
}

.channel-symbol {
  max-height: 26px;
  max-width: 9px;
  margin-right: 7px;
  color: #969096;
}
.channel-li li {
  display: flex;
  justify-content: space-between;
}

.channel-li {
  height: 26px;
  padding: 0px 1.5em;
  font-size: 16px;
  color: rgb(202, 196, 201);
  cursor: pointer;
}

.channel-li:hover {
  background: #3e313c;
}

.delete-channel {
  color: whitesmoke;
  display: none;
}
.channel-li:hover .delete-channel {
  display: block;
}

.channel-title {
  color: #969096;
  margin-left: 0.3em;
}

#selected-channel {
  background: #4c9689;
  color: white;
}

#selected-channel-symbol {
  color: white;
  opacity: 1;
}

.caret-container {
  height: 1.6em;
  width: 1em;
  margin: 0 auto;
  align-self: center;
}

.numberCircle {
  width: 30px;
  line-height: 18px;
  border-radius: 11px;
  text-align: center;
  font-size: 12px;
  color: white;
  background: #e01e5a;
  font-weight: 700;
  height: 70%;
  margin-left: 0.7em;
}
