.channel-modal-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel-form-container {
  background: #f9f3e7;
  border-radius: 8px;
  width: 490px;
  box-shadow: 0 18px 48px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 28px;
}

.channel-modal-header h1 {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.channel-modal-header div {
  font-size: 1.5em;
  color: #575754;
}

.create-channel-description {
  padding: 20px 60px 0px 0px;
  color: #575754;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 5px;
}

.create-channel-title-input {
  margin: 7px 0 18px 0;
  height: 44px;
  width: 464px;
  border: 1px solid #818179;
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.1s;
  font-family: "Poppins";
}

.create-channel-users-input {
  margin: 7px 0 18px 0;
  height: 44px;
  width: 464px;
  border: 1px solid #818179;
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.1s;
  font-family: "Poppins";
  position: relative;
}

.channel-create-name {
  color: #575754;
}

.channel-input {
  position: relative;
}

.private p {
  width: 300px;
  font-weight: 400;
  color: #575754;
  line-height: 21.5px;
  padding: 20px 60px 0px 0px;
  font-size: 14px;
}

.close-x {
  cursor: pointer;
}

.private {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 10px;
  left: 69px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.channel-create {
  margin-top: 2em;
  position: absolute;
  right: 28px;
  bottom: 24px;
  font-size: 14px;
  height: 36px;
  width: 80px;
  padding: 1px 13px 0;
  text-align: center;
  color: #363634;
  border-radius: 4px;
  border: none;
  background: #49c39e;
  font-family: "Poppins";
  cursor: pointer;
}

.channel-create:hover {
  background: #80d2de;
}

.channel-errors {
  color: #d30404;
}

.search-user {
  color: #575754;
}

.selected-users {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0px 10px 0px;
  margin: 5px 5px 0px;
  background: #cdd9d5;
  border-radius: 3px;
}

.selected-delete {
  margin-left: 0.25em;
  cursor: pointer;
}

.selected-delete:hover {
  color: #80d2de;
  opacity: 1;
}

.selected-users-list {
  display: flex;
}
