.channel-info-header {
  height: 64px;
  width: 85%;
  border-bottom: 1px solid #d9cec1;
  padding: 0px, 20px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.location-info {
  height: 40px;
  min-width: 386px;
  position: relative;
}

.channel-info-title {
  font-size: 16.5px;
  margin-left: 11px;
  margin-top: 0.6em;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}

.channel-type-icon {
  margin-right: 0.2em;
}

.channel-type-icon-2 {
  margin-right: 0.2em;
  margin-bottom: 0.21em;
}

.channel-people {
  margin-top: 0.4em;
  font-size: 14px;
  letter-spacing: 1.4px;
  margin-left: 11px;
  display: flex;
  align-items: center;
  margin-right: 2em;
  margin-bottom: 0.2em;
}

.channel-people-icon {
  margin-right: 0.2em;
  padding-bottom: 0.25em;
}

.edit-channel-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  color: #787873;
  background: transparent;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  margin-right: 2em;
  margin-top: 0.2em;
}

.edit-channel-button span {
  margin-left: 0.2em;
}

.edit-channel-button:hover {
  background: #cecec6;
  color: black;
}

.right-channel-header {
  display: flex;
  align-items: center;
}
