.show-messages {
  height: 100%;
  width: 177%;
  padding-bottom: 28px;
  background-color: #f9f3e7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat-container {
  flex: 1 1 auto;
  max-height: 78.25vh;
  min-height: 21.18vh;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-right: 5px;
}

.message-list-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-align: start;
  list-style: none;
}

.user-message {
  min-height: 52px;
  width: 100%;
  padding: 8px 20px 8px 30px;
  white-space: pre-line;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-message:hover {
  background-color: rgba(237, 227, 213, 0.6);
}

.user-chat {
  width: 47%;
}

.user-profile {
  min-width: 42px;
  min-height: 42px;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  margin-right: 0.5em;
}

.message-username {
  display: block;
  font-weight: 600;
}

.timestamp {
  font-size: 11px;
  font-weight: 400;
  color: #575754;
  margin-left: 0.5em;
}

.repeat-message {
  margin-left: 7px;
  min-height: 30px;
  padding: 4px 20px 4px 68px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}

.repeat-message-details {
  text-align: center;
  margin-left: 0.2em;
}

.repeat-message:hover {
  background-color: rgba(237, 227, 213, 0.6);
}

.repeat-message-details p {
  font-size: 14px;
  margin-bottom: 0.6em;
  margin-left: 0.1em;
}

.repeat-date {
  height: 69%;
  width: 73px;
  margin-left: -73px;
  text-align: right;
  font-size: 11px;
  color: #818179;
  display: none;
}

.repeat-message:hover .repeat-date {
  display: block;
}
