.chat-container p ol {
  display: block;
  list-style-type: decimal;
  margin-left: 0;
  margin-right: 0;
  padding-left: 17px;
}

.chat-container p ul {
  display: block;
  list-style-type: disc;
  margin-left: 0;
  margin-right: 0;
  padding-left: 17px;
}

.chat-container p h1 {
  display: block;
  font-size: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.chat-container p h2 {
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.chat-container p h3 {
  display: block;
  font-size: 1.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.chat-container p em {
  font-style: italic;
}

.chat-container p a:link {
  color: (internal value);
  text-decoration: underline;
  cursor: pointer;
}
