.dm-modal-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dm-form-container {
  width: 520px;
  background: #f9f3e7;
  border-radius: 8px;
  box-shadow: 0 18px 48px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 28px;
}

.dm-modal-header h1 {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.dm-modal-header div {
  font-size: 1.5em;
  color: #575754;
}

.create-dm-description {
  padding: 20px 60px 0px 0px;
  color: #575754;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 5px;
}

.create-dm-title-input {
  margin: 7px 0 18px 0;
  height: 44px;
  width: 464px;
  border: 1px solid #818179;
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.1s;
  font-family: "Poppins";
}

.dm-create-name {
  color: #575754;
}

.private p {
  width: 300px;
  font-weight: 400;
  color: #575754;
  line-height: 21.5px;
  padding: 20px 60px 0px 0px;
  font-size: 14px;
}

.close-x {
  cursor: pointer;
}

.private {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.dm-create {
  margin-top: 2em;
  position: absolute;
  right: 28px;
  bottom: 24px;
  font-size: 14px;
  height: 36px;
  width: 80px;
  padding: 1px 13px 0;
  text-align: center;
  color: #363634;
  border-radius: 4px;
  border: none;
  background: #49c39e;
  font-family: "Poppins";
  cursor: pointer;
}

.dm-create:hover {
  background: #80d2de;
}

.dm-errors {
  color: #d30404;
}
.dm-form {
  margin-bottom: 1.5em;
}
