.users-search-list {
  max-height: 264px;
  width: 486px;
  border: 1px solid #d9cec1;
  border-radius: 5px;
  background: #f9f3e7;
  position: absolute;
  top: 45px;
  padding: 12px 0;
  overflow-y: auto;
  z-index: 2;
}

.search-user {
  cursor: pointer;
  padding-left: 1em;
}

.search-user:hover {
  background: #80d2de;
}
