$index-purple: #4d394b;
$index-gray: #cac4c9;

.general-sidebar {
  padding: 1em 15px;
}

.nav-col {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  height: 100vh;
  overflow: scroll;

  background-color: $index-purple;
  color: $index-gray;
  font-size: 16px;
  font-weight: 300;
}

.general-sidebar h1 {
  padding: 5px 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.general-sidebar h2 {
  padding: 3px 0;
}

.nav-logout-button {
  margin-top: 0.5em;
  font-size: 16px;
  opacity: 0.85;
  cursor: pointer;
}

.nav-logout-button:hover {
  opacity: 1;
}

.side-logo {
  height: 2em;
  width: 2em;
}
.welcome-message {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}
.welcome-message h1 {
  margin-left: 0.4em;
}
