$button-link-blue: #3f46ad;
$text-gray: #5b5e6d;
$link-gray: #6d6f7b;
$h1-navy: #333646;

.splash,
.splash-part2 {
  margin: 0 auto;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}
.splash-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  top: 0;
  width: 80%;
  background: white;
  z-index: 2;
  height: 10%;
}

.nav-logo {
  display: flex;
  padding: 10px 30px;
  height: 30px;
  width: 100px;
}

.login-button,
.logout-button,
.workspace-button {
  top: 15px;
  padding: 9px;

  border: 2px solid #a8a9b0;
  border-radius: 5px;
  color: $link-gray;
  font-size: 16px;
}

.signup-button,
.demo-button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: $button-link-blue;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid gray;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.signup-button::before,
.demo-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3f0f3f;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.signup-button:hover,
.signup-button:focus,
.signup-button:active,
.demo-button:hover,
.demo-button:focus,
.demo-button:active {
  color: white;
}

.signup-button:hover::before,
.signup-button:focus::before,
.signup-button:active::before,
.demo-button:hover::before,
.demo-button:focus::before,
.demo-button:active::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav .signup-button,
.demo-button {
  margin: 10px;
  padding: 14px 15px;
}

.splash-content,
.splash-content-2 {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  color: $text-gray;
  padding-left: 7%;
  padding-right: 7%;
  align-items: center;
  background: #f6efe8;
  justify-content: space-between;
  padding-top: 3%;
}

.splash-picture-col {
  margin-right: 2%;
}

#splash-illustration {
  display: flex;
  height: 570px;
  width: 650px;
  margin-left: -25px;
}

#splash-illustration-test {
  display: flex;
  height: 500x;
  width: 650px;
  margin-left: -25px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.text-col {
  width: 40%;
}

.text-col h1 {
  font-size: 4em;
  font-weight: bold;
  color: $h1-navy;
  margin-bottom: 20px;
}

.separator h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: $h1-navy;
  margin-bottom: 1em;
}

.login-button:hover,
.logout-button:hover,
.workspace-button:hover {
  color: $button-link-blue;
}

.text-col p {
  font-size: 1em;
  line-height: 1.8;
}

.separator p {
  font-size: 1.25em;
}

.text-col-2 h1 {
  font-size: 65px;
  font-weight: bold;
  color: $h1-navy;
  margin-bottom: 20px;
}

.text-col-2 p {
  font-size: 20px;
  line-height: 1.8;
  width: 80%;
}

.text-col .signup-button,
.demo-button {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 18px 45px;
}

.text-col span {
  display: block;
  font-size: 15px;
}

.signin-link {
  color: $button-link-blue;
  text-decoration: underline;
}
.logout-button {
  margin-left: 1em;
  padding: 0.685em;
}

.demo-button {
  font-family: "Poppins";
  font-size: 16px;
  padding-top: 0.85em;
  padding-bottom: 0.85em;
}

nav .signup-button {
  padding-bottom: 0.8em;
}

.separator {
  text-align: center;
}
